name: Unit Tests

on: [pull_request, push]


jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  node_test:
    needs:
    - node_matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - run: sfw npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Run js linter

  java_test:
    env:
      CI: true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '22'
        cache: 'gradle'
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - run: sfw npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint:java
      name: Run server linter
    - run: npm run test
      name: Run server unit tests
